#row1 div {
  padding-bottom: 10px;
}

.carousel, .carousel .item img {
    height: 450px;
}

.carousel img {
    width: 100%;
}

.carousel {
        max-width: 730px;
    overflow: hidden;
    padding: 0; 
       margin: 0 auto;
}

.cap-head {
    top: 5px;
    bottom: 0px;
}

.carousel-col {

    margin: 0 auto;
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
}

.outline {
  margin-top: 0px;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.page-header {
    margin: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.right-aligned {
    margin-left:auto;
    margin-right:0;
}
