.navbar {
	background: transparent;
	margin-bottom: 0px;
	border: 0px;
	box-shadow: none;
	-webkit box-shadow: none;
	padding-top: 15px;
	padding-bottom: 5px;
}

.navbar-default .navbar-nav>li>a, .navbar-nav>p, .navbar-default .navbar-text {
 	font-size: 18px;
 	color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

.navbar-default .navbar-text {
 	font-size: 18px;
 	color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

.navbar-brand {

	padding-top: 5px;
	padding-bottom: 5px;

}

legend {

	color: white;
	  text-shadow: 0 2px 0 rgba(0, 0, 0, 1);
}

.big-input {

	margin-left: 25%;
	margin-right: 25%;
}

.jumbotron {
	background: transparent;
	margin-bottom: 0px;
	padding-top: 20px;
	text-align: center;
/*	background-image: url('house.jpg'); */
}

.jumbotron h1, .jumbotron p{
  text-shadow: 0 3px 0 rgba(0, 0, 0, 1);
	color: white;
	margin-top: 0px;
}

.stylish-panel {
    padding: 20px 0;
    text-align: center;
}
.background-image {

    height: 75px;
    background-image: url('../img/house.jpg');
    width: 100%;
    position: absolute;
    top:0;
    z-index: -100;

}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #454e61;
	color: white;
	width: 100%;
}

.footer .container{
	display:inline-block;
	vertical-align: middle;
}

h3 {

	margin-top: 0px;
}

.footer li {
list-style-type: none;

}

.footer ul {
 	padding-left: 0px;
}

body {

	background-color: #EEEEEE;
}

.footer h3 { 
text-align: left;
margin-bottom: 0px;
}

.footer ul, .footer span {
    text-align: left;
    float: left;
    margin-right: 15px;
}

.footer hr {

    margin-top: 5px;
    margin-bottom: 10px;
}

body.modal-open-noscroll 
{
  margin-right: 0!important;
  overflow: hidden;
}
.modal-open-noscroll .navbar-default, .modal-open .navbar-default 
{
  margin-right: 0!important;
}

/* LOG IN COPY PASTE FROM https://gist.github.com/bMinaise/7329874 */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.new-account
{
    display: block;
    margin-top: 10px;
}