
.content-padding {

	margin-top: 20px;
	margin-bottom: 20px;

}

.carousel {
	max-width: 730px;
	max-height: 400px;
}

.property-details {
	vertical-align: middle;
	font-size: 20px;
	margin-right: 10px;
}

.separator {
	border-top: 1px solid black;
	margin-top: 0px;
	margin-bottom: 10px;
}

.inline-button, h4 {
	vertical-align: middle;
	display: inline;
}

.inline-button {

	margin-left: 15px;
}

.map-placeholder {

	width: 100%;
	height: 300px;
	background-color: lightblue;
}